html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: rgb(201, 218, 231);
}

.sidebar-container {
    background-color: rgb(0, 140, 255);
    grid-row: 1 / 3;
    padding: 20px;
}

.sidebar {
    display: grid;
    grid-template-rows: 40px 3fr;
    color: rgb(243, 241, 241);
    font-weight: bold;
}

.sidebar,
.sidebar-sections-container {
    gap: 60px;
}

.sidebar-header {
    font-size: 30px;
}

.dashboard-icon {
    background: no-repeat url("./assets/icons/view-dashboard.svg");
    height: 40px;
}

.sidebar-header .sidebar-text {
    display: grid;
    align-content: center;
}

.sidebar-icon {
    filter: invert(100%);
}

.sidebar-icon:not(.dashboard-icon) {
    margin-left: 10px;
}

.home-icon {
    background: no-repeat url("./assets/icons/home.svg");
}

.profile-icon {
    background: no-repeat url("./assets/icons/card-account-details-outline.svg");
}

.message-icon {
    background: no-repeat url("./assets/icons/message-reply.svg");
}

.history-icon {
    background: no-repeat url("./assets/icons/clock-time-three.svg");
}

.tasks-icon {
    background: no-repeat url("./assets/icons/note-multiple.svg");
}

.communities-icon {
    background: no-repeat url("./assets/icons/account-group.svg");
}

.settings-icon {
    background: no-repeat url("./assets/icons/cog.svg");
}

.support-icon {
    background: no-repeat url("./assets/icons/help-box.svg");
}

.privacy-icon {
    background: no-repeat url("./assets/icons/shield-check.svg");
}

.sidebar-option {
    display: grid;
    grid-template-columns: 45px 2fr;
    height: fit-content;
}

.sidebar-sections-container {
    font-size: 18px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar-first-section,
.sidebar-second-section {
    display: grid;
    gap: 30px;
    height: fit-content;
}

.sidebar-first-section {
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-second-section {
    grid-template-rows: repeat(3, 1fr);
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: rgb(240, 240, 240);
    box-shadow: rgb(161, 161, 161) 0 5px 10px;
    height: fit-content;
    padding: 20px 50px;
    gap: 40px;
}

input {
    background-color: rgb(208, 208, 216);
    border: none;
    border-radius: 50px;
    min-width: 600px;
    min-height: 30px;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    gap: 30px;
    height: fit-content;
}

button {
    border: none;
    border-radius: 50px;
    padding: 12px;
    color: rgb(243, 241, 241);
    background-color: rgb(0, 140, 255);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.header-top-section {
    grid-template-columns: 3fr 1fr;
}

.header-bottom-section {
    grid-template-columns: 1fr 1fr;
}

.header-top-section,
.header-bottom-section {
    display: grid;
    gap: 30px;
}

.header-top-section > div:last-child,
.header-bottom-section > div:last-child {
    justify-self: end;
}

.greeting-container,
.name {
    font-weight: bold;
}

.greeting-container > div:last-child {
    font-size: 30px;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 40px 25px 12px 20px;
    gap: 30px;
    height: fit-content;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 30px;
}

.card {
    height: 200px;
    border-left: 10px solid rgb(223, 163, 36);
}

.card-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.main-text{
    font-size: 16px;
}

.main-text, 
.trending-user-description,
.announce-body {
    color: grey;
}

.section-names {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
}

.main-content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.main-content-right,
.main-content-left {
    height: fit-content;
}

.card,
.announcements-box,
.trending-box {
    display: grid;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: rgb(161, 161, 161) 2px 2px 4px;
    padding: 25px;
}

.announce-titles {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.announce-body {
    font-size: 12px;
}

.announcements-box > div:nth-child(-n + 2) {
    border-bottom: 1px solid rgb(177, 175, 175);
    margin-bottom: 8px;
}

.announcements-box {
    height: 300px;
    width: 250px;
    grid-template-rows: repeat(3, 1fr);
}

.trending-box {
    width: 250px;
    height: 290px;
    grid-template-rows: repeat(4, 1fr);
}

.trending-user-description {
    font-size: 14px;
    margin-top: 5px;
}



